.custom-background {
    background-image: url('../img/Background1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    min-height: 100vh;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 3rem 2rem 2rem 2rem;
}

.custom-button {
    background-color: #7f5af0;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-button:hover {
    background-color: #9a79ff;
    transform: scale(1.05);
}

.custom-button:active {
    transform: scale(0.98);
}

@media (max-width: 768px) {
  .top-bar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateY(0);
    will-change: transform;
    background: rgba(0, 0, 0, 0.0);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
  }

  .nav-up {
  transform: translateY(-100%);
  gap: 0 !important;
  padding: 0 !important;
  height: 0 !important;
    }

   .nav-down {
  transform: translateY(0);
    }

  .logo-container,
  .about-container,
  .contact-container {
    position: static !important;
  }

  .nav-buttons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .animate-header {
    margin-top: 0;
  }

  .about-container,
  .contact-container {
    position: static !important;
    margin: 0;
    text-align: center;
    font-size: 1.1rem;
    padding: 0px 20px;
    text-decoration: none;
    color: inherit;


  }
    #about-section,
    #contact-section {
    scroll-margin-top: 40px !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
    }
    #header-text {
    font-size: 1.5rem !important;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
    }

  .logo-img {
    height: 30px;
  }

  .logo-text {
    font-size: 1.1rem;
  }
}

.logo-container {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 10px;
    z-index: 10;
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 14px;
    border: 1px solid white;
    border-radius: 6px;
}

.logo-img {
    height: 40px;
    width: auto;
    display: block;
    object-fit: contain;
}

.logo-text {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

p {
    margin-top: 10px;
}

.about-container {
  position: absolute;
  top: 1rem;
  right: 11rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  gap: 10px;
  z-index: 10;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 14px;
  border: 1px solid white;
  border-radius: 6px;
}

.contact-container {
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 10px;
    z-index: 10;
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 14px;
    border: 1px solid white;
    border-radius: 6px;
}

.about-container,
.contact-container {

    font-size: 1.4rem;
    padding: 15px 30px;
    border-radius: 10px;
    z-index: 20;
}

html {
  scroll-behavior: smooth;
}

footer {
  text-align: center;
  margin-top: 2 0px;
  padding: 10px 0;
}

.team-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding: 10px 24px 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  margin-top: 2rem
}

.top-bar {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 10;
}

.profile-card {
  width: 700px;
  height: 350px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.profile-card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  backface-visibility: hidden;
  overflow: hidden;
  display: flex;
}

.card-front {
  background: #aa64d9;
  flex-direction: row;
  color: white
}

.card-back {

  background: #aa64d9;
  transform: rotateY(180deg);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto; /* or unset it */
}

.back-info {
  overflow-x: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  padding: 10px;
}

.back-info p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: white
  max-width: 100%;
  box-sizing: border-box;
}

.profile-image {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.profile-info {
  width: 50%;
  padding: 30px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.profile-info h3 {
  margin: 0;
  font-size: 1.6rem;
  color: white;
}

.profile-info p {
  margin: 0;
  font-size: 1.1rem;
  max-width: 250px;
  color: white
}


.arrow.right {
  position: absolute;
  right: 10px;
  bottom: 20px;
  font-size: 2rem;
  cursor: pointer;
  background: #0f0f0e;
  border-radius: 50%;
  padding: 10px 14px;
  transition: background 0.2s;
  z-index: 1;
}

.arrow.right:hover {
  background: #ccc;
}


#about-section {
  font-weight: 400;
  font-style: normal;
  scroll-margin-top: 40px;
  text-align: center;
  font-size: 2rem;
  max-width: 100%;
  background: none;
  padding: 0.5rem 0;
  margin: 1rem auto 0.5rem;
}

#contact-section.custom-background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  position: relative;
  padding: 0;
  scroll-margin-top: 150px;
}


.contact-heading {
  position: absolute;
  top: 20px;
  font-size: 2rem;
  margin: 0;
  color: white;
  text-align: left;
}

.contact-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
  width: 100%;
  color: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.contact-email {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.contact-email a {
  color: #9a79ff;
  text-decoration: underline;
}

#contact-section form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#contact-section input,
#contact-section textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;

}

footer a {
  color: inherit;
  text-decoration: underline;
}

footer a:hover {
  color: #9a79ff; /* or any accent color */
}

#header-text {
  font-family: 'Bungee Hairline', sans-serif;
  position: sticky;
  font-size: 3rem;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  color: #d4ccdb;
  top: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0);
  padding: 0rem 0;
  text-align: center;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#contact-section label {
  font-weight: bold;
  text-align: left;
}

.custom-button {
  background-color: #7f5af0;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-button:hover {
  background-color: #9a79ff;
  transform: scale(1.05);
}

.custom-button:active {
  transform: scale(0.98);
}

@media (max-width: 768px) {
  .team-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 20px 20px;
    margin-top: 4px;
    box-sizing: border-box;
    width: 100%;
    font-size: 0.85rem !important;
  }

  .profile-card {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    height: auto;
    padding: 0px 0px 10px;
    overflow: visible;
  }

  .card-inner,
  .card-front,
  .card-back {
    height: 290px;
    flex-direction: row;
    border: none;
    margin: 0;
    font-size: initial;

  }

  .card-inner {
    min-height: 300px;
  }

  .profile-image {
    width: 60%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  .profile-info {
    width: 100%;
    padding: 5px;
    align-items: center;
    text-align: center;
    border-radius: 0 0 15px 15px;
    overflow: visible;
    word-wrap: break-word;
  }

  .arrow.right {
    right: 1.5px;
  bottom: 2.8px;
  font-size: 1.5rem;
  padding: 6px 10px;
  border-radius: 50%;
  transform: translateY(1px);
}
 .arrow.right.left-align {
    transform: translateY(-1px);
  }

}


.intro-section {
  max-width: 900px;
  margin: 60px auto;
  padding: 0 20px;
  text-align: left;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  line-height: 1.6;
}
@media (max-width: 768px) {
#about-section h2,
#contact-section h2{
  font-family: 'Bungee Hairline', sans-serif;
  font-size: 2.1rem;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  color: #d4ccdb;
}


}
#about-section h2,
#contact-section h2{
  font-family: 'Bungee Hairline', sans-serif;
  font-size: 3rem;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  color: #d4ccdb;
}

@media (max-width: 768px) {
    #about-section h2,
    #contact-section h2{
      font-family: 'Bungee Hairline', sans-serif;
      font-size: 2.1rem;
      letter-spacing: 1.5px;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
      color: #d4ccdb;
    }
}
.intro-section h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.intro-text p {
  margin-bottom: 20px;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .intro-section {
    padding: 0 16px;
    margin: 10px auto;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .intro-text {
  max-width: 600px;
  margin: 0 auto;
}

  .intro-section h1 {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .intro-text p {
    text-align: justify;
    hyphens: auto;
    font-size: 0.8rem;
    line-height: 1.4;
    margin-bottom: 0.6rem;
  }

  .tagline {
  font-size: 1rem;
  font-weight: bold;
  color: #f4f4f4;
  margin-top: 1rem;
  text-align: left;
  hyphens: auto;
  letter-spacing: 0.5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  padding: 0.5rem 1rem;
  border-left: 4px solid #9a79ff;
  border-radius: 4px;
}

  .intro-text p.tagline {
  font-size: 1.05rem;
  text-align: left;
}

 .emphasis {
    font-size: 0.45rem; /* adjust as needed */
    letter-spacing: 0.3px;
  }


}

#home-section {
  margin-top: 140px;
}

@media (max-width: 768px) {
  #home-section {
    margin-top: 120px;
  }
}

.section-heading {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.tagline {
  font-size: 1rem;
  font-weight: bold;
  color: #f4f4f4;
  margin-top: 1rem;
  text-align: center;
  letter-spacing: 0.5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  padding: 0.5rem 1rem;
  border-left: 4px solid #9a79ff;
  border-radius: 4px;
}

.emphasis {
  display: inline-block;
  color: #9a79ff;
  font-style: normal;
  font-weight: 700;
  font-size: 1.05rem;
  letter-spacing: 0.6px;
}

.team-profile-fade-group {
  mask-image: linear-gradient(to bottom, black 100%, transparent 100%);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

.fade-item {
  transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
  transform-origin: top center;
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-header {
  ani